{{ define "footer" }}
<div class="limnrFooter">
    <div class="footer_flex">
        <div class="footer_flex_left">
        </div>

        <div class="footer_flex_mid">
            <div class="copyright" >
                Copyright © {{ .CurrentYear }} Limnr LLC. All rights reserved. <br/>
                Limnr AI is a product of Limnr LLC. <br/>
            </div>
        </div>

        <div class="footer_flex_right" style="text-align: center;">
            <a target='_blank' href="https://limnr.com">Limnr AI</a><br />
            <a target='_blank' href="https://catchycv.com">CatchyCV</a><br /><br />
            <a target='_blank' href="https://t.me/limnrllc"><div class="telegram"></div></a> <a target='_blank' href="https://x.com/limnrai"><div class="twitter-x"></div></a><br />
        </div>
    </div>
</div>
{{ end }}
